*{
    padding: 0%;
    margin: 0%;
}
.hero{
    background-image: url(BG_img.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.banner{
    background-color: aliceblue;
    width: 50vw;
    display: inline-block;
    padding: 30px 40px;
    text-align: center;
    border-radius: 5px;
}
h1{
    padding: 20px;
    font-size: 50px;
}
.btn{
    margin:30px;
    padding: 4px 20px;
    background-color: aqua;
    border: 1px solid black;
    cursor: pointer;
}
.btn:hover{
    background-color: aliceblue;
    border: 1px solid rgb(62, 119, 119);
    color: rgb(60, 109, 109);
    transition: .4s;
}
.modal_overlay{
    background-color: rgba(80, 127, 169, 0.499);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    visibility: inherit;
    z-index: -10;
}
.modal_container{
    background-color: aliceblue;
    display: flex;
    width: 40vw;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}
.close-btn{
    height: 20px;
    width: 20px;
    margin: 20px;
}
h2{
    font-size: 30px;
    padding: 20px;
}
.open_modal{
    visibility: visible;
    z-index: 10;
}